.container {
    position: absolute;
    width: 100%;
    opacity: 0.2;
  }
.align {
    width: 1500px;
    margin: 0;
}

 header {
     padding-top: 35px;
     padding-left: 375px;
     font-size: x-small;
     padding-right: 415px
 }
 .titlu1 {
     padding-left: 350px;
 }
 .titlu2 {
     padding-left: 15px;
 }
 .titlu3 {
     padding-top: 24px;
 }
 .greyitalic {
     padding-top: 3px;
    font-size: x-small;
    color: rgb(143, 139, 139);
}
.section {
    padding-top: 12px;
    padding-left: 378px;
    padding-right: 420px;
    font-size: small;
    line-height: 31px;
}
.section1 {
    padding-top: 28px;
}
.footer {
    padding-top: 12px;
    padding-left: 378px;
    padding-right: 420px;
    font-size: small;
    line-height: 31px;
}
/* unvisited link */
a {
    color: black;
  }
/* visited link */
  a:visited {
    color:black;
  }
/* selected link */
a:active {
    color:black;
  }
/* mouse over link */
a:hover {
    color: red;
  }
a { text-decoration: none; }

  
 